/* .dataContainer{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}
.profileBody{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
} */

form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.main {
	background: linear-gradient(135deg, #070a0d, #121921, #0f0613);
	background-size: cover;
	margin: 30px;
}

label{
	padding: 10px;
	color: #00F0FF;
	font-weight: bold;
}
